/* Reset de CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variáveis CSS para cores */
:root {
  --cor-de-fundo-icon-user-profile-default: rgba(255, 255, 255, 0.40);
  --cor-icon-user-profile-default: #F5631A;
  --cor-de-fundo-icon-user-profile-hover: #F8833F;
  --cor-icon-user-profile-hover: #FFFFFF;

  --cor-de-fundo-icon-bottom-bar-default: rgba(255, 255, 255, 0.7);
  --cor-icon-bottom-bar-default: #F5631A;
  --cor-de-fundo-icon-bottom-bar-hover: #F8833F;
  --cor-icon-bottom-bar-hover: #FFFFFF;

  --cor-fundo-btn-chat-history:#e84910;
  --cor-icon-btn-chat-history:#ffffff;
  --cor-txt-chat-input:#3d4448;

  --cor-fundo-container-input-chat: rgba(255, 255, 255, 0.3);
  --cor-fundo-container-bottom-group:rgba(255, 255, 255, 0.3);

  --gradiente-0:#d8edff;
  --gradiente-34:#54b2ff;
  --gradiente-52:#a7b5b9;
  --gradiente-82:#fbb076;

  --cor-texto-card:#383e41;
  --cor-de-fundo-card: rgba(255, 255, 255, 0.7);
  --cor-de-fundo-card-hover:#FFF;
  --cor-box-shadow-card-hover:rgba(34, 39, 42, 0.20);

  --cor-texto-h1:#475157;
  --cor-texto-p:#536167;

  --Neutral-Neutral-Light-Overlay-400:rgba(255, 255, 255, 0.4);
  --Brand-Orange-Overlay-1000: #f5631a;
  --Brand-Orange-500: #F5631A;
  --Neutral-Neutral-0: #FFF;
  
}

/* Definição de cores para o modo escuro */
[data-theme="dark"] {
  --cor-de-fundo-icon-user-profile-default: rgba(34, 39, 42, 0.70);
  --cor-icon-user-profile-default: #FFFFFF;
  --cor-de-fundo-icon-user-profile-hover: #F8833F;
  --cor-icon-user-profile-hover: #FFFFFF;

  --cor-de-fundo-icon-bottom-bar-default: rgba(34, 39, 42, 0.40);
  --cor-icon-bottom-bar-default: #FFFFFF;
  --cor-de-fundo-icon-bottom-bar-hover: #F8833F;
  --cor-icon-bottom-bar-hover: #FFFFFF;

  --cor-fundo-btn-chat-history:#e84910;
  --cor-icon-btn-chat-history:#ffffff;
  --cor-txt-chat-input:#FFFFFF;

  --cor-fundo-container-input-chat: rgba(34, 39, 42, 0.30);
  --cor-fundo-container-bottom-group:rgba(34, 39, 42, 0.30);

  --gradiente-0:#d8edff;
  --gradiente-34:#54b2ff;
  --gradiente-52:#a7b5b9;
  --gradiente-82:#fbb076;

  --cor-texto-card:#F5F5F5;
  --cor-de-fundo-card: rgba(34, 39, 42, 0.70);
  --cor-de-fundo-card-hover: #22272A;
  --cor-box-shadow-card-hover:rgba(255, 255, 255, 0.10);

  --cor-texto-h1:#CBD4D6;
  --cor-texto-p:#A7B5B9;

  --Neutral-Neutral-Light-Overlay-400:rgba(255, 255, 255, 0.4);
  --Brand-Orange-Overlay-1000: #f5631a;
  --Brand-Orange-500: #F5631A;
  --Neutral-Neutral-0: #FFF;
}

