.btn-app {
  display: flex;
  width: 36px;
  height: 36px;
  padding: var(--XXS, 8px);
  justify-content: center;
  align-items: center;
  gap: var(--XXS, 8px);
  border-radius: var(--XXS, 8px);
  background: var(
    --Neutral-Neutral-Light-Overlay-700,
    rgba(255, 255, 255, 0.7)
  );
}

.icon-app {
    width: 18px;
    height: 18px;
    font-size: 18px;
    background-color: #f5631a;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
