* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url("../public/img/gradient-light1.svg"); */
  background-image: 
    url("../public/img/gradient-light1.svg"),
    url("../public/img/gradient-light2.svg"),
    url("../public/img/gradient-light3.svg"), 
    url("../public/img/gradient-light4.svg");

  transition: background-image 5s ease-in;
  /* transition: background-image 0.05s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
  animation: backgroundTransitionLight 60s infinite linear;
}

@keyframes backgroundTransitionLight {
  0% {
    background-image: url("../public/img/gradient-light1.svg");
  }
  25% {
    background-image: url("../public/img/gradient-light2.svg");
  }
  50% {
    background-image: url("../public/img/gradient-light3.svg");
  }
  75% {
    background-image: url("../public/img/gradient-light4.svg");
  }
  100% {
    background-image: url("../public/img/gradient-light1.svg");
  }
}

@keyframes backgroundTransitionDark {
  0% {
    background-image: url("../public/img/gradient-dark1.svg");
  }
  25% {
    background-image: url("../public/img/gradient-dark2.svg");
  }
  50% {
    background-image: url("../public/img/gradient-dark3.svg");
  }
  75% {
    background-image: url("../public/img/gradient-dark4.svg");
  }
  100% {
    background-image: url("../public/img/gradient-dark1.svg");
  }
}

/* Quando estiver no modo escuro */
.App[data-theme="dark"] {
  /* background-image: url("../public/img/gradient-dark1.svg"); */
  background-image:
    url("../public/img/gradient-dark1.svg"),
    url("../public/img/gradient-dark2.svg"),
    url("../public/img/gradient-dark3.svg"),
    url("../public/img/gradient-dark4.svg");
    animation: backgroundTransitionDark 60s infinite linear;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.widgets {
  display: flex;
  align-items: center;
  gap: var(--M, 24px);
  align-self: stretch;
}

.saudacao {
  display: flex;
  width: 900px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--M, 24px);
}

.saudacao h1 {
  color: var(--cor-texto-h1);
  text-align: left;

  /* heading-lg/bold */
  font-family: "Neo Sans Pro";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
  margin: 0;
  padding: 0;
}

.saudacao p {
  color: var(--cor-texto-p);
  text-align: left;
  margin: 0;
  padding: 0;

  /* title-xl/regular */
  font-family: "Neo Sans Pro";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 141.667% */
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.groupSaudacaoChatBar {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 284px;
}
